@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus, textarea:focus, button:focus{
  outline: 2px solid #8643EE;
}



body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #111827;
}


body, input, textarea, button {
  font: 400 1rem;
}

.bg-image-header{
  background-image: url('../assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

/* scrollbar*/

::-webkit-scrollbar-track {
  background-color: #030712;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #6D28D9;
  height: 300px;
  border-radius: 20px;
}

/* disable Auto fill blue background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important; 
    -webkit-text-fill-color: #333;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #D3B7FF;
  transform-origin: 0%;

}


.swiper {
  width: 100%;
  height: 100%;
  display: flex;

}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shadow-gradient {
  box-shadow: 0px 1px 78px 7px rgba(109, 40, 217, 0.57), 0px 1px 31px 19px rgba(28, 0, 72, 0.29);
}