@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #111827;
}


body, input, textarea, button {
  font: 400 1rem;
}

.bg-image-header{
  background-image: url('../assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}


/* scrollbar*/

::-webkit-scrollbar-track {
  background-color: #030712;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #6D28D9;
  height: 300px;
  border-radius: 20px;
}

/* disable Auto fill blue background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important; 
    -webkit-text-fill-color: #333;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5px;
  background: #D3B7FF;
  transform-origin: 0%;

}
