@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 2px solid #D3B7FF;
}

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #111827;
}


body, input, textarea, button {
  font: 400 1rem;
}

.bg-image-header{
  background-image: url('../assets/hero.png');
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar-track {
  background-color: #030712;
}
::-webkit-scrollbar {
  width: 6px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #6D28D9;
  height: 300px;
  border-radius: 20px;
}